.container {
    height: 100%;
    width: 50%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-weight: bolder;
    margin-bottom: 15%;
}

button {
    height: 65px;
    margin: 20px 0;
}